<!-- About Section -->
<section id="about" #about class="content-section text-center" *ngIf="aboutdata.isActive && isReady"
[ngStyle]="{'background-image': 'url(' + aboutdata.BackgroundImageUrl + ')',
  'background-size': 'auto auto',
  'background-position-x': 'center',
  'background-attachment': 'scroll',
  'background-position-y': 'bottom',
  'background-repeat': 'no-repeat',
  'min-height': minHeight}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{aboutdata.Header}}</h2>
        <p *ngFor="let para of aboutdata.Paragraphs" [innerHTML]="para.text | safeHtml"></p>
      </div>
    </div>
  </div>
</section>
