<!-- Contact Section -->
<section id="contact" #contactus class="content-section text-center"
[ngStyle]="{'background-image': 'url(' + contactusdata.BackgroundImageUrl + ')',
'background-position-x': 'center',
'background-attachment': 'scroll',
'background-position-y': 'center',
'background-repeat': 'no-repeat',
'min-height': minHeight,
'background-size': 'cover'
}"
>
  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-lg-8 mx-auto">
        <h2>{{contactusdata.Header}}</h2>
        <p *ngFor="let para of contactusdata.Paragraphs" [innerHTML]="para.text | safeHtml"></p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item" *ngFor="let social of contactusdata.SocialPortals">
            <a [href]="social.url" class="btn btn-default btn-lg">
              <i class="fa fa-fw" [ngClass]="social.socialtype.css"></i>
              <span class="network-name">{{social.socialtype.title}}</span>
            </a>
          </li>
          <!-- <li class="list-inline-item">
            <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
              <i class="fa fa-google-plus fa-fw"></i>
              <span class="network-name">Google+</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li> -->
        </ul>
      </div>
    <!-- </div> -->
  </div>
</section>

<!-- Map Section -->
<!-- <div id="map"></div> -->
<agm-map [latitude]="lat" [longitude]="lng" [id]="map">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>