<!-- Download Section -->
<section id="download" #download class="download-section content-section text-center" *ngIf="downloaddata.isActive && isReady"
[ngStyle]="{'background-image': 'url(' + downloaddata.BackgroundImageUrl + ')',
'background-position-x': 'center',
'background-attachment': 'scroll',
'background-position-y': 'center',
'background-repeat': 'no-repeat', 
'min-height': minHeight}"
>
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h2>{{downloaddata.Header}}</h2>
      <p *ngFor="let para of downloaddata.Paragraphs" [innerHTML]="para.text | safeHtml"></p>
    </div>
  </div>
</section>